body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
text-decoration: none;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  
}

img {
    display: block;
}


/* --------------------HEADER----------------------- */
 /* .header .container {
    display: flex;
 
    justify-content: space-between;
   
}  */
/* .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}  */

/* .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
} */

/* .header-logo .logo-part {
    color: #2e2f42;
} */

.header-logo {
 margin-right: 76px;
 padding: 24px 0;
}

.logo-nav {
    display: flex;
   
    align-items: center;
}

.ssct-nav {
    display: flex;
    gap: 40px;
}

.mail-phone {
    display: flex;
    gap: 40px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}

.btn-nav {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}

.line,
.btn-nav.current {
    position: relative;
}

.line:hover:after,
.line:focus:after,
.btn-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.link-address:hover,
.link-address:focus,
.btn-nav:hover,
.btn-nav:focus,
.btn-nav.current {
    color: #404BBF;   
}

.link-mail-phone {
     font-style: normal;
}
.link-address {
    color: #434455;
   display: block;
   padding: 24px 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* --------------------HEADER----------------------- */

.page-start {
    background: #2e2f42;
    color: #fff;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    
}
.title-one{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
         max-width: 496px; 
       margin: 0 auto;
       text-align: center;
}
.button-order {
    display: block;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus { 
 background-color: #404BBF;
}


.p-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   

}

/* --------------------SOLUTION----------------------- */

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.solutions {
    padding-top: 120px;
    padding-bottom: 120px;
}



.flex-solution {
   display: flex;
   gap: 24px;
}

.solution-list {
    flex-basis: calc((100% - 72px) / 4);
}

.box {
    box-sizing: border-box;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        display: flex;          
        align-items: center;
        justify-content: center;
}



/* --------------------SOLUTION----------------------- */
/* --------------------team----------------------- */

.title-our-two {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team {
    background-color: #FFFFFF;
    
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.team-card {
    padding: 32px 0
}

.team-list {
    display: flex;
    gap: 24px;
}

.title-our-three {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}
.sect-team {
    background: #f4f4fd;
    
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-name {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.svg-social {
    fill: #F4F4FD;
}
 
.svg-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-link:hover,
.svg-link:focus {
    background-color: #404bbf;;
}

.svg-container {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;     
}
/* --------------------team----------------------- */
/* -----------------Our Portfolio------------------------------------- */
.flex-portfolio {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.flex-portfolio .title-our-three {

    margin-bottom: 8px;

}
.flex-portfolio .p-text {
}


.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-portfolio {
        width: 360px;
        height: 420px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.app-text {
      border: 1px solid #e7e9fc;
      padding: 32px 16px;
      border-top: none;
}

.wrap-description {
    position: relative;
    overflow: hidden;
}
.description {
     padding: 40px 32px;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     position: absolute;
     top: 0;
     background-color: #4d5ae5;
     height: 100%;
     transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.list-portfolio:hover .description {
    transform: translate(0);
    
}
.list-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* -----------------Our Portfolio------------------------------------- */
/* -----------------Footer------------------------------------- */
.page-footer {
    background-color: #2e2f42;
        color: #f4f4fd;
        padding-top: 100px;
        padding-bottom: 100px;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
}
.svg-container.svg-list {
    gap: 16px;
}

.footer-flex {
    display: flex;
    align-items: baseline;
}

.footer-logo-p {
    margin-right: 120px;
}
 
.footer-link-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}


.svg-container .svg-footer:hover,
.svg-container .svg-footer:focus {
    background-color: #31d0aa;
}

.footer-link {
    margin-right: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-input {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color: transparent;
        padding-left: 16px;
        color: #fff;  
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}
.footer-input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-input-btn:hover {
    background-color: #404BBF;
}

.footer-btn-svg {
    fill: #fff;
    margin-left: 16px;
    
}

/* -----------------Footer------------------------------------- */
/* -----------------modal------------------------------------- */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --primary-link-color: #4d5ae5;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    width: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-text  {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
       margin-bottom: 16px;
       text-align: center;
}

.modal-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: #4D5AE5;;
}

.modal-input:focus + .modal-svg,
.modal-input:hover + .modal-svg {
    fill: #4D5AE5;
}

.modal-label {
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        line-height: 1.17;
}

.modal-div {
     margin-bottom: 8px;
}

.modal-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-svg {
    position: relative;
}


.modal-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
        background-color: #4D5AE5;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            border-radius: 4px;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}
.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
}

.modal-check-text {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
        cursor: pointer;
        line-height: 1.17;
}

.link-privacy {
    line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox:checked + .modal-check-text span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;;
}

.modal-div-check {
    margin-bottom: 24px;

}

.modal-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-div-textarea {
    margin-bottom: 16px;
}
/* -----------------modal------------------------------------- */
