body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

/*-----------------------------------------------------*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container{
    max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/*-----------------------------------------------------*/
/*---------------------header--------------------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ssct-nav,
.link-mail-phone {
    display: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .ssct-nav {
    display: flex;
    gap: 40px;
    align-items: center;
    }
    .link-mail-phone {
        display: block;
        font-style: normal;
    }
    .logo-nav {
        display: flex;
        align-items: center;
    }
    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }
    .line,
    .btn-nav.current {
         position: relative;
        }
    
    .line:hover:after,
    .line:focus:after,
    .btn-nav.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        }
    
    .link-address:hover,
    .link-address:focus,
    .btn-nav:hover,
    .btn-nav:focus,
    .btn-nav.current {
            color: #404BBF;
        }
    .btn-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                }
    .mail-phone {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .link-address {
      display: block;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #434455;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width: 1158px) {
    .header-logo {
            margin-right: 76px;
    }
    .mail-phone {
        flex-direction: row;
        gap: 40px;
    }
        .link-address {
            padding: 24px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                .a-line:hover:after,
                .a-line:focus:after,
                .btn-nav.current::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 4px;
                    background-color: #404bbf;
                    border-radius: 2px;
                }
                .a-line {
                    position: relative;
                }
    
}
/*---------------------header--------------------------*/
/*---------------------page-start----------------------*/
.page-start {
    background: #2e2f42;
    color: #fff;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto; 
    margin-bottom: 96px;
}

        .title-one {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            color: #fff;
            max-width: 216px;
            margin: 0 auto;
            text-align: center; 
                  
        }
                .button-order {
                    display: block;
                    background-color: #4D5AE5;
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    color: #ffffff;
                    cursor: pointer;
                    border-radius: 4px;
                    border: none;
                    margin: 0 auto;
                    margin-top: 72px;
                    min-width: 169px;
                    height: 56px;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
@media screen and (min-width: 768px) {
    .page-start {
        max-width: 768px;
        padding-top: 112px;
            padding-bottom: 112px;
    }
         .title-one {
             font-size: 56px;
             line-height: 1.07;
             color: #fff;
             max-width: 496px;  
         }
        .button-order {
            margin-top: 36px;
        }
}
@media screen and (min-width: 1158px) {
    .page-start {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .button-order {
        margin-top: 48px;
    }
}
/*---------------------page-start----------------------*/
/*---------------------solutions-----------------------*/
.box {
    display: none;
}
.p-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    font-weight: 500;
    color: #434455;
}
.title-our-three {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
}
.solution-list {
   margin-bottom: 72px;
}

.solution-list:last-child {
    margin-bottom: 96px;
}

@media screen and (min-width: 768px) {
    .flex-solution {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .title-our-three {
        text-align: left;
    }
    .solution-list {
        max-width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .title-our-three {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
    .p-text {
        font-weight: 400;
    }
    .box {
    box-sizing: border-box;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        display: flex;          
        align-items: center;
        justify-content: center;
}
.flex-solution {
    margin-top: 120px;
    margin-bottom: 120px;
    max-height: 224px;
}
.solution-list {
    flex-basis: calc((100% - 72px) / 4);
    margin: 0 0;
    max-height: 224px;
}
}
/*---------------------solutions-----------------------*/
/*---------------------team----------------------------*/
.title-our-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.sect-team {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-text {
    text-align: center;
    margin-bottom: 8px;
}
.team-card {
    padding: 32px 0
}
.svg-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-social {
    fill: #F4F4FD;
}
.svg-container {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;     
}
.svg-link:hover,
.svg-link:focus {
    background-color: #404bbf;
    ;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.title-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
}
@media screen and (min-width: 768px) {
    .team-list {
        align-items: center;
        justify-content: center;
        gap: 64px 24px;
    }
    .title-name {
        text-align: center;
    }
    @media screen and (min-width: 1158px) {
    .sect-team {
               
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
}
/*---------------------team---------------------------*/
/*-----------------Our Portfolio-----------------------*/

 .flex-portfolio {
     display: flex;
     gap: 48px 24px;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .flex-portfolio .title-our-three {
     margin-bottom: 8px;
 }

 .flex-portfolio .p-text {

 }


 .portfolio {
     padding-top: 96px;
     padding-bottom: 96px;
 }

 .list-portfolio {
     width: 288px;
     height: 400px;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }

 .app-text {
     border: 1px solid #e7e9fc;
     padding: 32px 16px;
     border-top: none;
 }

 .wrap-description {
     position: relative;
     overflow: hidden;
 }

 .description {
     padding: 40px 32px;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     position: absolute;
     top: 0;
     background-color: #4d5ae5;
     height: 100%;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .list-portfolio:hover .description {
     transform: translate(0);

 }

 .list-portfolio:hover {
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }
 .title-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
 }
 @media screen and (min-width: 768px) {
    .list-portfolio {
            width: 356px;
            height: 420px;
    }
 }
  @media screen and (min-width: 1158px) {
    .list-portfolio {
            width: 360px;
    }
         .portfolio {
             padding-top: 120px;
             padding-bottom: 120px;
         }
  }

/*-----------------Our Portfolio-----------------------*/
/*-------------------footer----------------------------*/
.page-footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    margin-top: 16px;
}
.svg-container.svg-list {
    gap: 16px;
}
.footer-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}
.footer-link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
.svg-container .svg-footer:hover,
.svg-container .svg-footer:focus {
    background-color: #31d0aa;
}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer-input-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-input {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer-input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.footer-input-btn:hover {
    background-color: #404BBF;
}
.footer-btn-svg {
    fill: #fff;
    margin-left: 16px;

}

/*-------------------footer----------------------------*/